{% extends "base.html" %}

{% block content %}
<table class="positions-table" valign="top">
    <tr>
        {% if positions.count() == 0 %}
            <p>No Research Positions Added Yet, Check Back Later</p>
        {% else %}
            <td>
                <div class="brief-list">
                    {% for briefposition in positions.all() %}
                    <div class="brief-position">
                        {{briefposition.title}}
                        <br>
                        {{briefposition.faculty.firstname}} {{briefposition.faculty.lastname}}
                        <br>
                        Start date: {{briefposition.start_date}}
                        <br>
                        Weekly Hours: {{briefposition.time_commitment}}
                    </div>
                    <form action="{{url_for('routes.view', position_id = briefposition.id)}}" method="post">
                        <input type="submit" value="View" class="button">
                    </form>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div class="expanded-position">
                    <table class = "position-table" valign="top">
                        <tr> 
                            <td colspan="3">
                                <div> Position Manager: {{position.faculty.firstname}} {{position.faculty.lastname}}</div>
                            </td>
                            <td colspan="3">
                                <div class="postition-title"> {{position.title}} </div>
                            </td>
                            <td>
                                <div class="position-institution"> 
                                   {{ position.faculty.primary_institution }}
                                </div> 
                             </td> 
                        </tr>
                        <tr>
                            <td>
                                <div class="position-description">
                                  {{position.description}}    
                                </div>
                            </td> 
                        </tr>
                        <tr>
                            <td> 
                                <div class="position-requirements">
                                    Start Date: {{position.start_date}}
                                    <br>
                                    End Date: {{position.end_date}}
                                    <br>
                                    Weekly Time Commitment: {{position.time_commitment}}
                                    <br>
                                    Research Fields:
                                    {% for field in position.get_fields().all() %}
                                        <span class="field-item">
                                            {{ field.name }}
                                        </span>
                                    {% endfor %}
                                    <br>
                                    Required Programming Language Experience:
                                    {% for language in position.get_languages().all() %}
                                        <span class="language-item">
                                            {{ language.name }}
                                        </span>
                                    {% endfor %}
                                    <br>
                                    Other Requirements: {{position.misc_requirements}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        {% endif %}
    </tr>
</table>
{% endblock %}